* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 50px;
  margin: 0px 0px;
  color: #FF6200;
}

h2 {
  font-size: 40px;
  margin: 0px 0px;
  color: #FF6200;
}

h3 {
  font-size: 30px;
  font-weight: 300;
  margin: 0px 0px;
}

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

p {
  margin: 0;
}

/* Navigation section */

nav {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

nav .mainHeading {
  width: 25%;
  font-weight: 500;
}

#navItems {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

nav ul li {
  cursor: pointer;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

/* Hero section */

.hero-section {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "banner";
}

#banner {
  grid-area: banner;
  background-image: url("../images/02-hero-bg.jpg");
}

/* Work section */

.work {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "showcaseProject showcaseProject"
  "projectTwo projectThree"
  "projectFour projectFive"
  ;
}

.workGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

#showcaseProject {
  grid-area: showcaseProject;
  background-image: url("../images/02-portfolio-1.jpg");
}

#projectTwo {
  grid-area: projectTwo;
  background-image: url("../images/02-portfolio-2.jpg");
}

#projectThree {
  grid-area: projectThree;
  background-image: url("../images/02-portfolio-2.jpg");
}

#projectFour {
  grid-area: projectFour;
  background-image: url("../images/02-portfolio-2.jpg");
}

#projectFive {
  grid-area: projectFive;
  background-image: url("../images/02-portfolio-2.jpg");
}

.work .workGridArea .heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #FF6200;
}

/* Mobile media queries */

@media only screen and (max-width: 600px) {
 /* #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    "featuredProduct featuredProduct"
    "secondaryProduct CTA";
  }*/
 .work {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "showcaseProject"
      "projectTwo"
      "projectThree"
      "projectFour"
      "projectFive"
    ;
  }