/* Global variables */
:root {
  --blue: #166795;
  --white: #FFFFFF;
  --darkgrey: #333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 45px;
  margin: 0px 0px;
  color: var(--white);
}

h2 {
  font-size: 35px;
  margin: 0px 0px;
  color: var(--blue);
}

h3 {
  font-size: 25px;
  font-weight: 300;
  margin: 0px 0px;
}

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 20px auto;
}

p {
  margin: 0;
}

/* Page wrapper */

.page-wrapper {
  width: 85%;
  margin: 0 auto;
}

/* Header / Navigation section */
header {
  background-color: var(--darkgrey);
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

nav .mainHeading {
  width: 25%;
  font-weight: 500;
}

#navItems {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

nav ul li {
  cursor: pointer;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
}

/* Hero section */

.hero-section {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "banner";
}

#banner {
  grid-area: banner;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
}

#banner h2 {
  background-color: var(--white);
  color: var(--blue);
  padding: 20px;
  display: inline-block;
}

/* About section */

#about {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 90% 10%;
  grid-template-areas:
  "aboutText profilePhoto";
}

.aboutGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

#aboutText {
  grid-area: aboutText;
}

#profilePhoto {
  grid-area: profilePhoto;
  background-image: url("../images/headshot2.jpg");
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 10px;
}

/* Work section */

#work {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "showcaseProject showcaseProject"
  "projectTwo projectThree"
  "projectFour projectFive"
  ;
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  position: relative;
}

#showcaseProject {
  grid-area: showcaseProject;
  background-image: url("../images/02-portfolio-1.jpg");
}

#projectTwo {
  grid-area: projectTwo;
  background-image: url("../images/02-portfolio-2.jpg");
}

#projectThree {
  grid-area: projectThree;
  background-image: url("../images/02-portfolio-2.jpg");
}

#projectFour {
  grid-area: projectFour;
  background-image: url("../images/02-portfolio-2.jpg");
}

#projectFive {
  grid-area: projectFive;
  background-image: url("../images/02-portfolio-2.jpg");
}

#work .workGridArea .heading {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  height: auto;
  color: black;
  font-size: 18px;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Footer / Contact section */

footer {
  background-color: var(--darkgrey);;
  width: 100%;
  margin-top: 10px;
}

#footerItems {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 75px;
}

footer ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

footer ul li {
  cursor: pointer;
  padding: 10px;
}

footer ul li a {
  text-decoration: none;
  color: var(--white);
}

.logo-github::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url("../images/github-mark-white.png") no-repeat center center;
  background-size: contain;
}

.logo-linkedin::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url("../images/LI-In-Bug.png") no-repeat center center;
  background-size: contain;
}

/* Mobile media queries */

@media only screen and (max-width: 600px) {
 /* #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    "featuredProduct featuredProduct"
    "secondaryProduct CTA";
  }*/
 #work {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "showcaseProject"
      "projectTwo"
      "projectThree"
      "projectFour"
      "projectFive"
    ;
  }
}